<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="sr-only">toggle nav</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="projectName navbar-brand">
        <a href="#">First App</a>
      </div> <!-- /projectName -->
    </div> <!-- /nav-header -->
    <div class="collapse navbar-collapse" id="myNavbar">
      <div class="navbar-form navbar-right">
        <% if user_signed_in? %>
          <%= link_to('Orders', orders_path, class: "btn btn-default", id: "nav_btns") %>
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-default", id: "nav_btns") %>
        <% else %>
          <%= link_to('Login', new_user_session_path, method: :get, class: "btn btn-default", id: "nav_btns") %>
          <%= link_to('Register', new_user_registration_path, method: :get, class: "btn btn-default", id: "nav_btns") %>
        <% end %>
      </div> <!-- /navbar-form -->
      <div class="search_bar">
        <%= form_with(url: products_path, method: "get", local: "true", class: "navbar-form navbar-right") do |form| %>
          <%= form.text_field :q, id: "q", class: "form-control", value: params[:q], required: true %>
          <%= form. submit "Search", class: "btn btn-default", id: "nav_btns", required: true%>
        <% end %>
      </div> <!-- /search_bar -->
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Products", products_path %></li>
        <li><%= link_to "About", static_pages_about_path %></li>
        <li><%= link_to "Contact", static_pages_contact_path %></li>
      </ul>
    </div> <!-- /navbar-collapse -->
  </div> <!-- /container-fluid -->
</nav> <!-- /navbar -->