<div class="form-horizontal">
  <h1>Sign up</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
    <div class="col-sm-4 col-md-offset-4">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, required: true, class: "form-control", placeholder: "Email" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4 col-md-offset-4">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4 col-md-offset-4">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password Confirmation" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-offset-4">
      <%= f.submit "Sign up", class: "btn btn-default", id: "submit_btn" %>
    </div>
  </div>
  <% end %>
  <div class="row" id="s_links">
    <div class="col-sm-4 col-md-offset-4">
    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>