<!DOCTYPE html>
<html>
  <%= render 'static_pages/head' %>
  <body>
    <%= render 'static_pages/nav' %>
    
    <!-- Flash Notice Tags -->
    <% if notice %>
      <div class="alert alert-info"><%= notice %></div>
    <% elsif alert %>
      <div class="alert alert-warning"><%= alert %></div>
    <% end %>

    <%= yield %>

    <%= render 'static_pages/footer' %>

  </body>
</html>
